<div>
  <div>
    <img class="rc-img" width="300" height="300" src="/core/misc/loading.gif" />
  </div>

  <div>
    <a class="rc-vote-up" href="/random_cat/vote/{cat_id}/1">{{ 'Love it !' }}</a> |
    <a class="rc-vote-down" href="/random_cat/vote/{cat_id}/-1">{{ 'Hm, no ...' }}</a>
    <div id="rc-vote-result"></div>
  </div>
</div>
